@charset "UTF-8";

body {
    background-color: rgb(221, 214, 214);
}

div#espaco {
    position: relative;
    height: 96vh;
    padding: 10px;

    background-image: url('../imagens/espaco.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div#astronauta {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-image: url('../imagens/astronauta.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

